.container{
    width: 100vw;
    margin-top: 20px;
}

.child-container{
    border: 0px solid black;
    margin: 10px;
    height: 150px;
}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    display: flex;
    align-items: center;
}
h2 , h4 {color: rgb(15, 190, 59);
margin: 0;
font-weight: 500;
}
p{font-size: small}

.hr{
    border-top: 1px dotted red;
}

.skills, .experience{
    margin-top: 10px;
    margin-left: 20px;
}

ul{
    margin: 0;
}